.limitationsMid {
  display: flex;
  gap: 32px;
  justify-content: end;
  .limitationsMidCurve {
    max-width: 365px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      margin-left: 32px;
      width: 94px;
      height: 122px;
    }
  }
}
.limitationsBottom {
  display: flex;
  justify-content: center;
  gap: 32px;
}
