@import "../../globalStyles.css";

.instructions ol {
    list-style: none;
    counter-reset: my-counter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

.instructions li {
    counter-increment: my-counter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}

.instructions li:before {
    content: counter(my-counter) ".";
    margin-top: 2px;
    font-family: var(--outfit-font);
    font-weight: 700;
    color: var(--brandy-red);
}

.instructions p {
    line-height: 150%;
    font-family: var(--outfit-font);
    color: var(--wenge-brown);
}

.instructions span {
    font-weight: 700;
    margin-right: 4px;
    font-family: var(--outfit-font);
    color: var(--wenge-brown);
}
