@import "../../globalStyles.module.scss";

.checkboxWrapper {
    label {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid $accent-white;
        outline: none;
        cursor: pointer;
        &:checked {
            background-color: $accent-green;
            border: 2px solid $accent-green;
            position: relative;
            &:checked::before {
                content: url("../../assets/images/checkbox-icon.svg");
                color: black;
                font-size: 1.5em;
                position: absolute;
                right: 1px;
                top: -3px;
            }
        }
    }
    span {
        font-size: 18px;
        font-weight: 700;
        color: $accent-white;
    }
}
