@import "../../globalStyles.module.scss";

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes comeFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.clipboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: $background-main;
    padding: 19px 32px 19px 32px;
    h2 {
        font-size: $xl-text;
        font-weight: $common-weight;
        color: $accent-white;
    }
    .generated {
        font-size: $xl-text;
        font-weight: $common-weight;
        color: $accent-white;
    }

    .default {
        color: $accent-grey;
        font-size: $xl-text;
        font-weight: $common-weight;
    }
    span {
        display: block;
        text-transform: uppercase;
        font-size: $sm-text;
        color: $accent-green;
        font-family: $main-font-family;
    }
    button {
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 16px;
    }
    .visHide {
        visibility: hidden;
    }
    .visShow {
        visibility: visible;
        -webkit-animation: fadeIn 2s ease;
        animation: fadeIn 2s ease;
    }
}

@media (max-width: 567px) {
    .clipboard {
        padding: 19px 24px 19px 24px;
        h2 {
            font-size: $sm-text;
            font-weight: $common-weight;
            color: $accent-white;
        }
        .generated {
            font-size: $sm-text;
            font-weight: $common-weight;
            color: $accent-white;
        }
        .default {
            color: $sm-text;
            font-size: $md-text;
            font-weight: $common-weight;
        }
        span {
            display: block;
            text-transform: uppercase;
            font-size: $sm-text;
            color: $accent-green;
            font-family: $main-font-family;
        }
        button {
            background-color: transparent;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 16px;
        }
        .visHide {
            visibility: hidden;
        }
        .visShow {
            visibility: visible;
            -webkit-animation: fadeIn 2s ease;
            animation: fadeIn 2s ease;
        }
    }
}

.comeFade {
    animation: comeFade 1s ease;
}
