@import "../../globalStyles.module.scss";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.clipboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-main;
    padding: 19px 32px 19px 32px;
    h2 {
        font-size: $xl-text;
        font-weight: $common-weight;
        color: $accent-white;
    }
    span {
        display: block;
        text-transform: uppercase;
        font-size: $sm-text;
        color: $accent-green;
        font-family: $main-font-family;
    }
    button {
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .visHide {
        visibility: hidden;
    }
    .visShow {
        visibility: visible;
        animation: fadeIn 2s ease;
    }
}
