@import "../../globalStyles.css";

.advantages {
    background-color: var(--ghost-white);
    padding: 104px 0 171px;
    background-color: var(--bg-below-banner);
    background-image: url("../../assets/advantages-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    height: 665px;
}

.advantages .container {
    gap: 26px;
}

.advantagesOrder {
    border: 1px solid var(--accent-purple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 auto 56px;
}

.advantagesOrder span {
    font-size: 24px;
    font-family: initial;
    font-weight: 600;
    line-height: 40px;
}

.advantagesItem h2 {
    font-size: 32px;
    margin-bottom: 28px;
    font-weight: 600;
    line-height: 40px;
    font-family: initial;
    color: var(--accent-purple);
    text-align: center;
}

.advantagesItem p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--accent-purple);
    max-width: 345px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .advantages {
        padding: 195px 0 171px;
        height: 999px;
    }
    .advantages > div {
        gap: 48px;
    }
    .advantagesItem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .advantagesOrder {
        margin: 0 auto -50px;
    }
    .advantagesItem h2 {
        margin-bottom: 16px;
    }
    .advantagesItem h2,
    .advantagesItem p {
        text-align: start;
    }
    .advantagesItem p {
        margin: 0;
        max-width: 92%;
    }
}

@media (max-width: 567px) {
    .advantages {
        padding: 100px 0 171px;
        height: 1200px;
    }
    .advantagesOrder {
        margin: 0 auto;
    }
    .advantagesItem {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 24px;
    }
    .advantagesItem p,
    .advantagesItem h2 {
        text-align: center;
    }
    .advantagesItem p {
        margin: 0 auto;
        max-width: 353px;
        font-size: 16px;
        width: 84%;
    }
}
