.banner .bannerLeft img {
  width: 730px;
  height: 300px;
}

.banner .bannerLeftTitle h1 {
  /* max-width: 34%; */
  font-size: var(--xxl-font);
  font-weight: var(--xxl-weight);
  line-height: 56px;
}

.banner .bannerLeftTitle p {
  font-size: var(--xs-font);
  color: var(--accent-grey);
  max-width: 88%;
  line-height: 26px;
}

.banner .bannerLeftTitle button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4px;
  padding: 13px 0 11px 0;
  /* width: 185px; */
  background-color: var(--light-red);
  color: var(--accent-almost-white);
  transition: 0.5s ease-in;
}

.bannerLeftTitle div {
  max-width: 50%;
}

.banner .bannerLeftTitle button:hover {
  background-color: var(--dark-space-blue);
}

.bannerRight {
  /* max-width: 350px; */
  width: 100%;
}

@media (max-width: 1024px) {
  .banner .bannerLeft img {
    width: 100%;
    margin: 0 auto;
  }
  .bannerLeftTitle div {
    max-width: 100%;
  }
  .banner .bannerLeftTitle h1 {
    margin-bottom: 16px;
  }
  .banner .bannerLeftTitle p {
    max-width: 100%;
  }
}

@media (max-width: 468px) {
  .banner .bannerLeft img {
    content: url('../../assets/images/image-web-3-mobile.jpg');
  }
}
