@import '../../globalStyles.scss';

.limitations {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 120px;
  .limitationsTitle {
    display: flex;
    .limitationsTitleLeft {
      display: flex;
      flex-direction: column;
      gap: 35px;
      h5 {
        font-weight: 600;
        line-height: 110%;
        font-size: $secondary-titles-size;
        color: $accent-dark;
      }
      p {
        line-height: 150%;
        color: $accent-grey;
        max-width: 564px;
      }
    }
    .limitationsTitleRight {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .limitations {
    .limitationsTitle {
      flex-direction: column;
      align-items: center;
      .limitationsTitleLeft {
        h5,
        p {
          text-align: center;
        }
        h5 {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .limitations {
    padding-bottom: 96px;
    .limitationsTitle {
      p {
        max-width: 90% !important;
        margin: 0 auto;
      }
    }
  }
}
