.infoItem,
.infoItem > div {
    display: flex;
    align-items: center;
}

.infoItem {
    padding: 20px 16px 16px 20px;
    width: 100%;
    justify-content: space-between;
    border-radius: 12px;
}

.infoItem img {
    width: 20px;
    height: 20px;
}
.infoItem > div:first-child {
    gap: 12px;
}
.categoryName {
    font-size: var(--xs-size-font);
    font-weight: var(--sm-weight);
    line-height: 23px;
}

.infoItem h4 > span:first-child,
.infoItem h4 > span:last-child {
    font-size: var(--xs-size-font);
    font-weight: var(--md-weight);
    color: var(--accent-dark);
    line-height: 23px;
}

.infoItem h4 > span:last-child {
    opacity: 0.5;
}
