header {
  padding-top: 32px;
  padding-bottom: 174px;
  img {
    margin: 0 auto 24px;
    display: block;
    width: 37px;
    height: 37px;
  }
}

@media (max-width: 992px) {
  header {
    padding-bottom: 96px;
  }
}
