@import "../../globalStyles.module.scss";

@-webkit-keyframes fadeInTooWeak {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTooWeak {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInWeak {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInWeak {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInMedium {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInMedium {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInStrong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInStrong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeInStrong {
    -webkit-animation: fadeInStrong 1.5s ease;
    animation: fadeInStrong 1.5s ease;
}
.fadeInMedium {
    -webkit-animation: fadeInMedium 1.5s ease;
    animation: fadeInMedium 1.5s ease;
}
.fadeInWeak {
    -webkit-animation: fadeInWeak 1.5s ease;
    animation: fadeInWeak 1.5s ease;
}
.fadeInTooWeak {
    -webkit-animation: fadeInTooWeak 1.5s ease;
    animation: fadeInTooWeak 1.5s ease;
}

.passwordStrength {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 22px 32px 22px 32px;
    background-color: $accent-dark-grey;
    margin-bottom: 32px;
    h4 {
        font-size: $sm-text;
        font-weight: 700;
        line-height: 24px;
        color: $accent-grey;
    }
    .passwordRate {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 16px;
        span {
            font-size: $md-text;
            color: $accent-white;
            text-transform: uppercase;
            line-height: 32px;
        }
        .passwordScale {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 8px;
            margin: 2px 0 2px 0;
            .passwordScaleBar {
                width: 10px;
                height: 28px;
                border: 2px solid $accent-white;
            }
        }
    }
}

.tooWeak > .passwordScaleBar:nth-child(-n + 1) {
    background-color: $accent-red !important;
    border: 2px solid $accent-red !important;
}

.weak > .passwordScaleBar:nth-child(-n + 2) {
    background-color: $accent-orange !important;
    border: 2px solid $accent-orange !important;
}

.medium > .passwordScaleBar:nth-child(-n + 3) {
    background-color: $accent-yellow !important;
    border: 2px solid $accent-yellow !important;
}

.strong > .passwordScaleBar:nth-child(-n + 4) {
    background-color: $accent-green !important;
    border: 2px solid $accent-green !important;
}

@media (max-width: 567px) {
    .passwordStrength {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 12px 22px 12px 22px;
        background-color: $accent-dark-grey;
        margin-bottom: 32px;
        h4 {
            font-size: $sm-text;
            font-weight: 700;
            line-height: 24px;
            color: $accent-grey;
        }
        .passwordRate {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 16px;
            span {
                font-size: $sm-text;
                color: $accent-white;
                text-transform: uppercase;
                line-height: 32px;
            }
            .passwordScale {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 8px;
                margin: 2px 0 2px 0;
                .passwordScaleBar {
                    width: 10px;
                    height: 28px;
                    border: 2px solid $accent-white;
                }
            }
        }
    }
}
