@import "../../globalStyles.css";

.preparationTime {
    padding: 28px;
    background-color: var(--light-pink);
    border-radius: 12px;
    width: 100%;
}
.preparationTime h2 {
    font-family: var(--outfit-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: var(--dark-raspberry);
    margin-bottom: 16px;
}
.preparationTime ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
}
.preparationTime li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}
.preparationTime li::before {
    content: "\2022";
    color: var(--dark-raspberry);
    font-size: 1.5em;
    margin-right: 5px;
}
.preparationTime b {
    font-family: var(--outfit-font);
    font-weight: 700;
    line-height: 150%;
    color: var(--wenge-brown);
    margin-right: 4px;
}
.preparationTime span {
    font-family: var(--outfit-font);
    font-weight: 400;
    line-height: 150%;
    color: var(--wenge-brown);
}

@media (max-width: 567px) {
    .preparationTime {
        margin: 0 auto;
        background-color: var(--light-pink);
        border-radius: 12px;
        width: auto;
    }
    .preparationTime span {
        max-width: 75%;
    }
}
