@import "../../globalStyles.module.scss";

.universalForm {
    width: 450px;
    .fourthFormWrapper {
        padding: 16px 24px 16px 24px;
        background-color: $main-bg;
        border-radius: 8px;
        .fourthFormMainInfo {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            div {
                display: flex;
                flex-direction: column;
                gap: 7px;
                h5 {
                    font-size: $md-text;
                    font-weight: $md-weight;
                    line-height: 18px;
                }
                button {
                    background-color: transparent;
                    text-decoration: underline;
                    font-size: $sm-text;
                    line-height: 20px;
                    display: flex;
                    color: $accent-grey;
                    cursor: pointer;
                }
            }
            span {
                font-size: $sm-text;
                font-weight: $xl-weight;
                line-height: 20px;
                color: $accent-dark;
            }
        }
        .fourthFormDivideLine {
            height: 1px;
            width: 100%;
            background-color: $accent-grey;
            margin-bottom: 16px;
            opacity: 0.25;
        }
        .fourthFormOptions {
            display: flex;
            flex-direction: column;
            gap: 16px;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .formFourthAddonName {
                    font-size: $sm-text;
                    line-height: 20px;
                    color: $accent-grey;
                }
                .formFourthAddonPrice {
                    color: $accent-dark;
                    font-size: $sm-text;
                    line-height: 20px;
                }
            }
        }
    }
    .fourthFormTotalInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px 16px 24px;
        .fourthFormTotalTitle {
            font-size: $sm-text;
            line-height: 20px;
            color: $accent-grey;
        }
        .fourthFormTotalPrice {
            color: $accent-blue;
            font-size: 20px;
            font-weight: $xl-weight;
            line-height: 20px;
        }
    }
    .nextStepBtn {
        display: flex;
        justify-content: space-between;
        .previous {
            margin: 0;
            background-color: transparent;
            font-weight: $md-weight;
            line-height: 18px;
            color: $accent-grey;
            font-size: $md-text;
            transition: 1s ease-in-out;
            cursor: pointer;
            &:hover {
                color: $accent-dark;
            }
        }
    }
}

@media (max-width: 830px) {
    .universalForm {
        width: auto;
        .fourthFormWrapper {
            padding: 16px;
            margin-bottom: 24px;
            .fourthFormMainInfo {
                margin-bottom: 12px;
                align-items: center;
                div {
                    gap: 3px;
                    h5 {
                        font-size: $sm-text;
                        line-height: 16px;
                    }
                }
            }
            .fourthFormDivideLine {
                margin-bottom: 12px;
            }
        }
        .fourthFormTotalInfo {
            max-width: 90%;
            margin: 0 auto;
            padding: 0 0 0 0;

            .fourthFormTotalPrice {
                font-size: $md-text;
            }
        }
        .nextStepBtn {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $accent-white;
            width: 100%;
            padding: 16px;
        }
    }
}
