@import "../../globalStyles.css";

.founder {
    margin-bottom: 62px;
    max-width: var(--content-width);
    margin: 0 auto 120px;
}

.founderPicture {
    width: 450px;
    height: 450px;
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 20px;
}

.founder h3 {
    font-weight: 600;
    font-family: initial;
    font-size: 56px;
    line-height: 64px;
    color: #fff;
}

.founder p {
    font-family: var(--font-manrope);
    color: #fff;
    font-size: var(--md-size);
    line-height: 32px;
    max-width: 97%;
}

.founderInfo {
    margin-top: 172px;
    padding: 64px;
    background-color: var(--accent-purple);
    max-width: 730px;
    gap: 24px;
}

.founder a {
    font-size: var(--md-size);
    color: var(--dark-purple);
    text-align: center;
    display: block;
    font-weight: 700;
    line-height: 32px;
    background-color: var(--accent-green);
    max-width: 190px;
    width: 100%;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    border: 2px solid var(--dark-purple);
}

.founder a:hover {
    border: 2px solid var(--accent-green);
    color: var(--accent-green);
    background-color: var(--dark-purple);
}

.circleWrapper {
    position: relative;
    width: 173px;
}

.circlesFigure {
    position: absolute;
    max-width: 280px;
    max-height: 200px;
    top: 0px;
    left: -60px;
}

@media (max-width: 768px) {
    .founder {
        margin: -90px auto 120px;
    }
    .founderPicture {
        width: 281px;
        height: 281px;
    }
    .founderInfo {
        max-width: 514px;
        padding: 48px 48px 56px 48px;
    }
    .founder h3 {
        font-size: 48px;
    }
    .circlesFigure {
        left: 0;
    }
}

@media (max-width: 567px) {
    .founder {
        margin: 0 auto 74px;
    }
    .founderPicture {
        top: 15%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .circlesFigure {
        display: none;
    }
    .circleWrapper {
        width: auto;
    }
    .founder h3 {
        font-size: 32px;
        text-align: center;
    }
    .founder p {
        line-height: 32px;
        text-align: center;
        max-width: 92%;
        margin: 0 auto 8px;
    }
    .founderInfo {
        gap: 16px;
        padding: 32px;
    }
    .founderInfo div {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
