.burgerMenu {
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.burgerMenu .burgerMenuBar {
  background-color: var(--dark-space-blue);
  width: 40px;
  height: 3px;
}

.burgerMenuActive .burgerMenuBar:nth-child(1) {
  animation: firstBarActive 1s forwards;
  position: absolute;
}

.burgerMenuActive .burgerMenuBar:nth-child(2) {
  position: absolute;
  animation: secondBarActive 0.25s forwards;
}

.burgerMenuActive .burgerMenuBar:nth-child(3) {
  animation: thirdBarActive 1s forwards;
}
@keyframes thirdBarActive {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes secondBarActive {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    position: absolute;
    transform: rotate(45deg);
  }
}

@keyframes firstBarActive {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

.burgerMenuNotActive .burgerMenuBar:nth-child(1) {
  animation: firstBarNotActive 0.5s forwards;
}

.burgerMenuNotActive .burgerMenuBar:nth-child(2) {
  animation: secondBarNotActive 0.5s forwards;
}

.burgerMenuNotActive .burgerMenuBar:nth-child(3) {
  animation: thirdBarNotActive 0.5s forwards;
}

@keyframes thirdBarNotActive {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(0);
    position: static;
  }
}

@keyframes secondBarNotActive {
  0% {
    opacity: 0;
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    position: static;
    transform: rotate(0);
  }
}

@keyframes firstBarNotActive {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
    position: static;
  }
}

.burgerMenuLinksActive {
  position: absolute;
  top: 141px;
  animation: burgerMenu 0.5s forwards;
  background: antiquewhite;
  z-index: -1;
}

.burgerMenuLinksNotActive {
  animation: burgerOutMenu 0.5s forwards;
}

@keyframes burgerOutMenu {
  0% {
    right: 50px;
  }
  100% {
    right: -120px;
    transform: translateX(300px);
    display: none;
  }
}

@keyframes burgerMenu {
  0% {
    right: -100px;
  }
  100% {
    right: 50px;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  top: 0;
  position: absolute;
  background-color: white;
  padding: 140px 29px 0 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation: menuComing 1s forwards;
}

.modalContent li {
  padding-right: 170px;
}
.modalContent li a {
  color: var(--dark-space-blue);
}

@keyframes menuComing {
  0% {
    right: -316px;
  }
  100% {
    right: 0;
  }
}
