.burgerMenu {
  cursor: pointer;
  position: relative;
}

.burgerMenu .burgerMenuBar {
  background-color: var(--dark-space-blue);
  width: 40px;
  height: 3px;
}

.burgerMenuActive .burgerMenuBar:nth-child(1) {
  animation: firstBarActive 2s forwards;
  position: absolute;
}

.burgerMenuActive .burgerMenuBar:nth-child(2) {
  position: absolute;
  animation: secondBarActive 0.5s forwards;
}

.burgerMenuActive .burgerMenuBar:nth-child(3) {
  animation: thirdBarActive 2s forwards;
}
@keyframes thirdBarActive {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes secondBarActive {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    position: absolute;
    transform: rotate(45deg);
  }
}

@keyframes firstBarActive {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

/* = = = */

.burgerMenuNotActive .burgerMenuBar:nth-child(1) {
  animation: firstBarNotActive 1s forwards;
}

.burgerMenuNotActive .burgerMenuBar:nth-child(2) {
  animation: secondBarNotActive 1s forwards;
}

.burgerMenuNotActive .burgerMenuBar:nth-child(3) {
  animation: thirdBarNotActive 1s forwards;
}

@keyframes thirdBarNotActive {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(0);
    position: static;
  }
}

@keyframes secondBarNotActive {
  0% {
    opacity: 0;
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    position: static;
    transform: rotate(0);
  }
}

@keyframes firstBarNotActive {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
    position: static;
  }
}

.burgerMenuLinksActive {
  position: absolute;
  top: 141px;
  /* right: 50px; */
  animation: burgerMenu 1s forwards;
  /* = = = */

  background: antiquewhite;
  z-index: -1;
  /* padding: 100px; */
  /* margin-right: -60px;
  margin-top: -142px; */
}

.burgerMenuLinksNotActive {
  /* position: absolute; */
  /* top: 141px; */
  animation: burgerOutMenu 1.2s forwards;
}

@keyframes burgerOutMenu {
  0% {
    right: 50px;
  }
  100% {
    right: -120px;
    transform: translateX(300px);
    display: none;
  }
}

@keyframes burgerMenu {
  0% {
    /* top: 0; */
    right: -100px;
  }
  100% {
    /* top: 141px; */
    right: 50px;
  }
}
