@import "./globalStyles.css";

.header-banner {
    background-color: var(--ghost-white);
    background-image: url("./assets/dark-purple-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    height: 870px;
}

@media (max-width: 768px) {
    .header-banner {
        background-size: 110% 100%;
        height: 540px;
    }
}

@media (max-width: 567px) {
    .header-banner {
        background-size: 140% 88%;
    }
}
