:root {
    --font-manrope: "Manrope", sans-serif;
    --font-fraunces: "Faraunces", serif;
    --accent-purple: #24053e;
    --accent-green: #44ffa1;
    --accent-grey: #584d62;
    --ghost-white: #fcf8ff;
    --bg-bellow-banner: #fff;
    --md-size: 18px;
    --main-title-size: 80px;
    --content-width: 1114px;
}

.container {
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 39px;
    position: relative;
}

.d-flex {
    display: flex;
}

.flex-aic {
    align-items: center;
}

.flex-end {
    justify-content: end;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.gap-footer {
    gap: 56px;
}

@media (max-width: 768px) {
    :root {
        --main-title-size: 60px;
        --md-size: 16px;
    }
    .flex-md-col {
        flex-direction: column !important;
    }
    .w-md-80 {
        width: 80%;
    }
}

@media (max-width: 567px) {
    .container {
        padding: 0 16px;
    }
    .w-md-80 {
        width: 100%;
    }
}
