.submitWrap {
  display: flex;
  justify-content: end;
  position: relative;
}

.greyLine {
  height: 1px;
  background-color: var(--accent-border-input);
  width: 100%;
  position: absolute;
  top: 50%;
}

.submitBtn {
  z-index: 999;
  cursor: pointer;
  width: 96px;
  height: 96px;
  background-color: var(--accent-purple);
  border-radius: 50%;
  transition: 0.5s ease-in;
}

.submitBtn:hover {
  background-color: var(--accent-black);
}

@media (max-width: 1024px) {
  .submitWrap {
    justify-content: center;
  }
  .submitBtn {
    width: 64px;
    height: 64px;
  }
}
