.newsPanel {
  background-color: var(--dark-space-blue);
  padding: 24px 32px 31px;
  height: 100%;
}

.newsPanel h2 {
  font-weight: var(--xl-weight);
  color: var(--accent-yellow);
  font-size: 40px;
}

.newsPanel ul {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
