@import "../../globalStyles.css";

.titleDescription > h1 {
    font-family: var(--young-font);
    font-size: 40px;
    margin-bottom: 24px;
    line-height: 100%;
    color: var(--dark-charcoal);
}
.titleDescription > p {
    font-family: var(--outfit-font);
    font-size: 16px;
    line-height: 150%;
    color: var(--wenge-brown);
}

@media (max-width: 567px) {
    .titleDescription > h1 {
        font-size: 36px;
    }
}
