@tailwind base;
@tailwind components;
@tailwind utilities;
@import './globalStyles.css';

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--very-dark-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
