@import '../../globalStyles.scss';

.calculator {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 564px;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  border-radius: $accent-radius;
  background-color: $pure-white;
  h2 {
    color: $accent-grey;
    font-size: $xl-text;
    font-weight: 600;
    line-height: 29px;
  }
  .checkboxesWrapper {
    display: flex;
    justify-content: space-between;
    .checkbox {
      width: 100%;
      max-width: 208px;
      label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 18px;
      }
      input[type='checkbox'] {
        border-radius: 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 31px;
        height: 31px;
        border: 1px solid $light-grey;
        outline: none;
        cursor: pointer;
        -webkit-transition: 0.75s ease-in-out;
        -o-transition: 0.75s ease-in-out;
        transition: 0.75s ease-in-out;
        &:hover {
          border: 1px solid $accent-blue;
        }
        &:checked {
          background-color: rgba(52, 95, 246, 0.15);
          border: 1px solid rgba(52, 95, 246, 0.15);
          position: relative;
          &:checked::before {
            content: url('../../assets/images/checkboxmark.svg');
            color: black;
            font-size: 1.5em;
            // position: absolute;
            // right: 7px;
            // top: 4px;
            margin-top: 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
        }
      }
      span {
        font-weight: 600;
        color: $accent-dark;
      }
    }
  }
  .metricInputs {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .imperialInputs {
    display: flex;
    gap: 24px;
    .imperialNest {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

@media (max-width: 992px) {
  .calculator {
    width: 100%;
    margin: 0 auto;
  }
  .imperialNest {
    width: 50%;
  }
}

@media (max-width: 567px) {
  .calculator {
    padding: 24px;
    .metricInputs {
      flex-direction: column;
      gap: 16px;
    }
  }
}
