@import "./globalStyles.module.scss";

* {
    // font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: $main-font-family;
    background-color: $main-bg;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: whitesmoke;
}

@media (max-width: 830px) {
    body {
        height: auto;
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
