:root {
    --yellow-accent: #f4d04e;
    --bg-card: #fff;
    --first-text: #111;
    --second-text: #7f7f7f;
    --sm-font-size: 14px;
    --xl-font-size: 24px;
    --md-font-size: 16px;
    --line-height: 150%;
    --accent-shadow: 8px 8px 0px 0px #000;
}

@media (max-width: 567px) {
    :root {
        --sm-font-size: 12px;
        --xl-font-size: 20px;
        --md-font-size: 14px;
    }
}
