@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

:root {
    --main-bg-blue: #ecf2ff;
    --accent-white: #ffffff;
    --accent-blue: #cac9ff;
    --accent-dark: #303b59;
    --bg-reaction: rgba(255, 255, 255, 0.95), rgb(255, 85, 85);
    --bg-memory: rgba(255, 255, 255, 0.95), rgb(255, 178, 30);
    --bg-verbal: rgba(255, 255, 255, 0.95), rgb(255, 178, 30);
    --bg-visual: rgba(255, 255, 255, 0.95), rgb(17, 37, 214);
    --xs-size-font: 18px;
    --sm-size-font: 24px;
    --md-size-font: 32px;
    --xl-size-font: 72px;
    --sm-weight: 500;
    --md-weight: 700;
    --xl-weight: 800;
    --accent-gradient-bg: linear-gradient(
        180deg,
        rgb(119, 85, 255),
        rgb(105, 67, 255) 0.01%,
        rgb(47, 44, 233) 100%
    );
    --accent-gradient-circle: linear-gradient(
        180deg,
        rgb(77, 33, 201),
        rgba(37, 33, 201, 0) 100%,
        rgba(37, 33, 201, 0) 100%
    );
}

@media (max-width: 767px) {
    :root {
        --xs-size-font: 16px;
        --sm-size-font: 18px;
        --md-size-font: 24px;
        --xl-size-font: 56px;
    }
}
