@import "../../globalStyles.module.scss";

.stepWidgetWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    .stepWidgetStep {
        background-color: transparent;
        border: 1px solid $accent-white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            font-weight: $xl-weight;
            color: $accent-white;
            font-size: $sm-text;
            line-height: 16px;
        }
    }
    .stepWidgetInfo {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .stepWidgetInfoStep {
            font-size: $sub-text;
            color: $accent-sky;
            line-height: 14px;
            text-transform: uppercase;
        }
        .stepWidgetInfoTitle {
            text-transform: uppercase;
            font-size: $sm-text;
            font-weight: $xl-weight;
            line-height: 16px;
            color: $accent-white;
        }
    }
}

.stepWidgetStepActive {
    background-color: $accent-light-sky !important;
    border: 1px solid $accent-light-sky !important;
    span {
        color: $accent-dark !important;
    }
}
